@mixin breakpoint($class) {
  @if $class == xxs {
    @media (max-width: 500px) { @content; }
  }

  @else if $class == xs {
    @media (max-width: 768px) { @content; }
  }

  @else if $class == sm {
    @media (max-width: 1024px) { @content; }
  }

  @else {
    //@warn "Breakpoint mixin supports: xs, sm, md, lg";
    @warn "Breakpoint mixin supports: sm";
  }
}
