@import "01-reset/normalize";
@import "01-reset/customreset";
@import "02-fontface/fontface";
@import "03-mixins/mixins";
@import "04-variables/variables";

body {
  background-color: $offBlack;
  font-family: $rR;

  #login {
    h1 {
      a {
        background-image: url('../../src/svg/blanket_logo.svg');  
      }
    }//h1

    form {
      color: $offBlack;
    }//form
  }//login
}//body
