// import order is important!

// defaults, global, setup
@import "reset/normalize";
@import "fontface/fontface";
@import "variables/variables";
@import "reset/customreset";
@import "at-rules/functions";
@import "layout/breakpoints";
@import "layout/containers";
@import "layout/skeletons";
@import "content/content";

// components/partials
@import "templates/partials/header/header";
@import "templates/partials/footer/footer";


// gutenberg blocks
// @import "_/gutenberg/blocks/screenwidth/screenwidth"; // these block styles are unnecessary on the front end


body {
  background-color: $white;
  font-family: $rR;
  color: $black;
}//body