// import order is important
@import "reset/normalize";
@import "fontface/fontface";
@import "variables/variables";
@import "reset/customreset";
@import "at-rules/mixins";
@import "at-rules/functions";

body {
  background-color: $offBlack;
  font-family: $rR;
  color: $rust;
}

.svg {
  width: block(10);
  height: block(10);
  margin: block(2);
}