@import "normalize";
@import "variablesandmixins";
@import "customreset";
@import "fonts";


.body {
  background-color: red;
  font-family: $rR;
  background-image: url('../../_/img/test.png');
  background-repeat: no-repeat;
}
