{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "2",
        "useBuiltIns": "usage",
        "targets": {
          "browsers": [
            "last 2 versions",
            "not ie < 11"
          ]
        }
      }
    ]
  ]
}