// colors 
$white:      rgb(255, 255, 255);
$offWhite:   rgb(254, 254, 254);
$black:      rgb(0, 0, 0);
$offBlack:   rgb(28, 28, 28);

// fonts
$rT:   'roboto_thin';
$rTi:  'roboto_thin_italic';

$rL:   'roboto_light';
$rLi:  'roboto_light_italic';

$rR:   'roboto_regular';
$rRi:  'roboto_italic';

$rM:   'roboto_medium';
$rMi:  'roboto_medium_italic';

$rB:   'roboto_bold';
$rBi:  'roboto_bold_italic';

$rBl:  'roboto_black';
$rBli: 'roboto_black_italic';

$rcL:  'roboto_condensed_light';
$rcLi: 'roboto_condensed_light_italic';

$rcR:  'roboto_condensed_regular';
$rcRi: 'roboto_condensed_italic';

$rcB:  'roboto_condensed_bold';
$rcBi:  'roboto_condensed_bold_italic';

// ease
$easeInSine:      cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine:     cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutQuart:    cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInQuart:     cubic-bezier(0.895, 0.03, 0.685, 0.22);
$authenticMotion: cubic-bezier(0.4, 0, 0.2, 1);
