// colors 
$white:      rgb(255, 255, 255);
$offWhite:   rgb(254, 254, 254);
$black:      rgb(0, 0, 0);
$offBlack:   rgb(28, 28, 28);
$rust :      rgb(209, 83, 83);

// fonts
$rR:   'roboto_regular';
$rRi:  'roboto_italic';
$rB:   'roboto_bold';

// ease
$easeInSine:      cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine:     cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutQuart:    cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInQuart:     cubic-bezier(0.895, 0.03, 0.685, 0.22);
$authenticMotion: cubic-bezier(0.4, 0, 0.2, 1);
