/* fontface declarations */

// @font-face {
//   font-family: 'roboto_thin';
//   src: url('../../src/fonts/Roboto/Roboto-Thin-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'roboto_thin_italic';
//   src: url('../../src/fonts/Roboto/Roboto-ThinItalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'roboto_light';
//   src: url('../../src/fonts/Roboto/Roboto-Light-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'roboto_light_italic';
//   src: url('../../src/fonts/Roboto/Roboto-LightItalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }


@font-face {
  font-family: 'roboto_regular';
  src: url('../../src/fonts/Roboto/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'roboto_italic';
//   src: url('../../src/fonts/Roboto/Roboto-Italic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'roboto_medium';
//   src: url('../../src/fonts/Roboto/Roboto-Medium-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'roboto_medium_italic';
//   src: url('../../src/fonts/Roboto/Roboto-MediumItalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'roboto_bold';
//   src: url('../../src/fonts/Roboto/Roboto-Bold-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'roboto_bold_italic';
//   src: url('../../src/fonts/Roboto/Roboto-BoldItalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'roboto_black';
//   src: url('../../src/fonts/Roboto/Roboto-Black-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'roboto_black_italic';
//   src: url('../../src/fonts/Roboto/Roboto-BlackItalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'roboto_condensed_light';
//   src: url('../../src/fonts/Roboto/RobotoCondensed-Light-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'roboto_condensed_light_italic';
//   src: url('../../src/fonts/Roboto/RobotoCondensed-LightItalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'roboto_condensed_regular';
//   src: url('../../src/fonts/Roboto/RobotoCondensed-Regular-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'roboto_condensed_italic';
//   src: url('../../src/fonts/Roboto/RobotoCondensed-Italic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'roboto_condensed_bold';
//   src: url('../../src/fonts/Roboto/RobotoCondensed-Bold-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'roboto_condensed_bold_italic';
//   src: url('../../src/fonts/Roboto/RobotoCondensed-BoldItalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
