/*box-sizing */
*, *:before, *:after {
  box-sizing: border-box;
}

/* type */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

html {
  font-size: 10px;
  font-family:
    system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI,
    /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu,
    /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 5+ */ Noto Sans,
    /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";  
}

html, html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.03);
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  font-size: 1.5rem;
}

figure {
  margin: 2rem;

  figcaption {
    padding: 0 1rem;
  }
}//figure

/* images and SVG */
svg {
  width: 100%;
  height: auto;
}

img, video {
  width: 100%;
  vertical-align: top;
}
